html {
  font-size: 62.5%;
  margin: 0;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  font-size: large;
}

.question {
  margin: 0.5rem;
  border-bottom: 1px solid grey;
  padding: 1rem;
}

label,
p {
  color: black;
  font-weight: 420;
  font-size: large;
}

.popup {
  display: none;
  position: absolute;
  background-color: #f3f189;
  border: 1px solid #140a0a;
  padding: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  size: 15px;
}

input {
  background-color: rgb(231, 238, 238);
  height: 4rem;
  border-radius: 1rem;
}

.drop-input {
  background-color: rgb(231, 238, 238);
  margin: 1rem;
  align-items: center;
  height: 4.5rem;
  border-radius: 1rem;
}

.p1 {
  font-size: 1.4rem;
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centerCurser {
  text-align: center;
}

.language,
.language2,
.language3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.language .drop-input,
.language2 .drop-input,
.language3 .drop-input {
  width: 40rem;
}
